.div-container{
  display : flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.div-chart{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.div-picker{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-control{
  width: 200px
}